parameters:
	ignoreErrors:
		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:exists\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Console/Commands/UserCreateAdmin.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:limit\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Console/Commands/UserDeleteWithoutOrganisation.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),App\\Models\\OrganisationUserRole\>\:\:map\(\) expects callable\(App\\Models\\OrganisationUserRole, int\|string\)\: non\-falsy\-string, Closure\(App\\Collections\\OrganisationUserRoleCollection, string\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/UserInfo.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:orWhereLike\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Console/Commands/UserList.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:whereLike\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Console/Commands/UserList.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Actions/Exports/SnapshotLatestCreatedAtColumn.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Actions/Exports/SnapshotLatestStatusColumn.php

		-
			message: '#^Parameter \#1 \$query \(Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\) of method App\\Filament\\Exports\\Exporter\:\:modifyQuery\(\) should be contravariant with parameter \$query \(Illuminate\\Database\\Eloquent\\Builder\) of method Filament\\Actions\\Exports\\Exporter\:\:modifyQuery\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: app/Filament/Exports/Exporter.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Filament/Resources/OrganisationSnapshotApprovalResource/Pages/ListOrganisationSnapshotApprovalItems.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:exists\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Resources/OrganisationUserResource/Pages/CreateOrganisationUser.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Resources/OrganisationUserResource/Pages/EditOrganisationUser.php

		-
			message: '#^Parameter \#2 \$callback of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Snapshot\>\:\:whereHas\(\) expects \(Closure\(Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\SnapshotApproval\>\)\: mixed\)\|null, Closure\(App\\Models\\Builders\\SnapshotApprovalBuilder\)\: void given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/PersonalSnapshotApprovalResource/Pages/ListPersonalSnapshotApprovalItems.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:exists\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Resources/PersonalSnapshotApprovalResource/PersonalSnapshotApprovalResourceTable.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:whereNotIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Filament/Resources/SnapshotResource/Pages/ViewSnapshot.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\UserBuilder\:\:whereNotIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Livewire/Snapshot/Approvals.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Algorithm/AlgorithmRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Algorithm/AlgorithmRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Avg/AvgProcessorProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Avg/AvgProcessorProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Avg/AvgResponsibleProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Avg/AvgResponsibleProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Models/Builders/SnapshotApprovalBuilder.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:whereNotNull\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Builders/SnapshotApprovalBuilder.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:whereNull\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Builders/SnapshotApprovalBuilder.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Builders/SnapshotBuilder.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/ContactPerson.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/ContactPerson.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Processor.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Processor.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Receiver.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Receiver.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Responsible.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Responsible.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/System.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/System.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Wpg/WpgProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Wpg/WpgProcessingRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:max\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Services/Snapshot/SnapshotFactory.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:count\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Services/Dashboard/AttentionCountService.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:limit\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Services/Dashboard/AttentionCountService.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Services/Dashboard/AttentionCountService.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotApprovalBuilder\:\:count\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Services/Snapshot/SnapshotService.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Dpia/DpiaRecord.php

		-
			message: '#^Dynamic call to static method App\\Models\\Builders\\SnapshotBuilder\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Models/Dpia/DpiaRecord.php
