parameters:
    paths:
        - .
    excludePaths:
        - bootstrap/cache
        - node_modules/
        - public/
        - storage/
        - tests/
        - vendor/
        - database/migrations/2023_11_22_140333_create_permission_tables.php
    faker:
        providerClasses:
            - App\Faker\DateTimeProvider
            - App\Faker\ImportProvider
            - App\Faker\MarkupProvider
            - App\Faker\SnapshotProvider
    level: max
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\.*#'
includes:
	- phpstan-baseline.neon

services:
	-
		class: App\PHPStan\Rules\TenantAwareQueryRule
		tags:
			- phpstan.rules.rule
