:root {
	--default-padding: 2rem;
	--default-margin: 2rem;
	--default-font-size: font-size: clamp(1rem, 2.5vw, 2rem);
	--default-border-radius: 0.5rem;
	--default-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}