<footer class="border-t mt-8">
  <div  class="container py-8">

    <div>
      <p class="text-[var(--color-secondary)]">&copy; {{ now.Year }} {{ site.Title }}</p>
    </div>

    {{ with site.Menus.footer }}
    <nav aria-label="Footer navigation">
      <ul>
        {{ range . }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}

  </div>

  {{ $now := time.Now }}
  {{ $date := time.Format ":date_full" $now }}
  {{ $time := time.Format ":time_full" $now }}
  {{ $buildTimeComment := printf "<!-- build timestamp: %s - %s -->" $date $time }}
  {{ $buildTimeComment | safeHTML }}
</footer>
