<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ with site.Params.description }}
<meta name="description" content="{{ . }}">
{{ end }}

{{/* Build Tailwind CSS via PostCSS (requires Node modules) */}}
{{ $twInput := resources.Get "tailwind.css" }}
{{ if $twInput }}
	{{ $tw := $twInput | postCSS (dict "config" "postcss.config.js") | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $tw.Permalink | relURL }}" integrity="{{ $tw.Data.Integrity }}">
{{ end }}

{{/* Build theme SCSS as before */}}
{{ $options := dict "targetPath" "css/main.css" "outputStyle" "compressed" }}
{{ $styles := resources.Get "main.scss" | resources.ToCSS $options | fingerprint }}

<link rel="stylesheet" href="{{ $styles.Permalink | relURL }}" integrity="{{ $styles.Data.Integrity }}">
