{{ define "main" }}
{{ partial "debug/mark-start" "layouts/organisation/section"  }}

<section>
  {{- with or (.Resources.Get "poster.jpeg") (resources.Get "images/organisation-fallback.jpeg") }}
    {{- with .Fill "1920x480 webp" }}
      <img src="{{ .Permalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" class="h-48 w-full object-cover"/>
    {{- end }}
  {{- end }}
</section>

<section class="container relative mb-28">
  {{ partial "hero-links.html" . }}
</section>

{{ $trimmed_content := strings.TrimRight "\n" .Content }}
{{ if $trimmed_content }}
<section class="container">
  <div class="markdown-content">
      {{ .Content }}
  </div>
</section>
{{ end }}

{{ $processingrecords := where .Pages "Type" "processing-record" }}
{{- range $processingrecords }}
<section class="container">
  <div>
    <nav aria-label="navigatie">
      <ul>
        <li><a href="{{ .RelPermalink }}" class="text-lg font-bold text-[var(--color-primary)]">{{ .Title }} &rArr;</a></li>
      </ul>
    </nav>
  </div>
</section>
{{- end }}

{{ $nodes := where .Pages "Type" "organisation" }}
{{ if $nodes }}
<section>
  <div>
    <div>
        {{- range $nodes }}
        {{ if .Params.public_url }}<a href="{{ .Params.public_url }}" target="_blank">{{ else }}<a href="{{ .RelPermalink }}">{{ end }}
          <div role="group">
            {{ $imageAlt := .LinkTitle }}
            {{- with or (.Resources.Get "poster.jpeg") (resources.Get "images/organisation-fallback.jpeg") }}
              {{- with .Fill "300x192 Center webp" }}
                <img src="{{ .Permalink }}" alt="{{ $imageAlt }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy"/>
              {{- end }}
            {{- end }}
            <h4>{{ .LinkTitle }}</h4>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ partial "debug/mark-end" }}
{{ end }}


